body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .navbar {
    display: flex;
    align-items: center;
    background-color: #0f151d;
    color: white;
    padding: 10px;
  }
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
  }
  .custom-select{
    background-color: rgb(158, 158, 158);
    color: rgb(0, 0, 0);
  }
  .custom-select-2{
    background-color:#0f151d;
    color: rgb(255, 255, 255);
  }
  .custom-select-3{
    background-color: #2d3e52;
    color: rgb(255, 255, 255);
  }
  .navbar select {
    margin-left: 1px;
    padding: 5px;
  }
  .navbar .form-inline {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  .navbar .form-control {
    padding: 5px;
    margin-right: 10px;
  }
  .navbar button {
    padding: 5px 20px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
  }
  .navbar button:hover {
    background-color: #f90;
  }
  .submenu-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #2d3e52;
    margin: 0;
    padding: 10px 0;
  }
  .submenu-list a {
    color: white;
    text-decoration: none;
    padding: 0px 12px;
  }
  .submenu-list a:hover {
    background-color: #2d3e52;
    border-radius: 4px;
  }

  .carousel {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
  }
  .carousel img {
    width: 100%;
    display: block;
  }
  .carousel-inner {
    display: flex;
    animation: slide 10s infinite;
  }
  @keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
  }
  .table-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .table {
    margin: 5px;
    width: 20%;
    max-width: 10px;
  }

  .section-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .section {
    margin: 10px;
    width: 100%;
    max-width: 250px;
  }
  .section img {
    width: 80%;
    height: auto;
  }
  .section-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #232f3e;
    text-align: center;
    margin-bottom: 10px;
  }
  .btn-primary {
    background-color: #ffffff;
    border: none;
  }
  .btn-primary:hover {
    background-color: rgb(0, 153, 255);
  }
  .btn-seguro {
    background-color: #f0c14b; /* Color de fondo similar a Amazon */
    border: 1px solid #a18a2e; /* Borde oscuro */
    color: #111; /* Color del texto */
    border-radius: 4px; /* Bordes ligeramente redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Centra el texto */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s, transform 0.2s; /* Transición para hover */
}

.btn-seguro:hover {
    background-color: #ddb900; /* Color al pasar el mouse */
}

